* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

#inicio, #elearning, #contenidos, 
#catalogo, #materiales, #pedidos, 
#reservas, #contacto{
    color: blue;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#barra_superior {
    display:flex;
    align-items: center;
    justify-content:space-between;

    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
}

#logo {
   margin-left: 20px;
    width: 40px;
    height: 40px;
}

#titulo {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

#menu {
    margin-right: 10px;
    display: flex;
    flex-direction:row;
    justify-content: end;
    align-items: center;
    gap: 25px;
}

#portada {
    width: 100%;
    min-height: 50vh;
    background-image: 
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(imagenes/hero.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra vertical */
    align-items: center; /* centra horizontal */
    text-align: center;
}

#titulo_portada, #descripcion_portada {
    color: white;
    font-size: 20px;
}

#pie_portada {
    background-color:whitesmoke;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra vertical */
    align-items: center; /* centra horizontal */
    text-align: center;
}

#informacion{
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

#informacion div{
    background-color: white;
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 1px 1px 7px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 20px;
}

#informacion input{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 140px;
    height: 40px;
}

footer{
    background-color: black;
    height: 60px;
    color: white;
    margin-top: auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin: 60px;
    gap: 20px;
}
.boton{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 140px;
    height: 40px;
}
.cuerpo ul{
    list-style-type:disc;
    padding-left: 40px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    gap: 8px;
    width: 600px;
    margin-left: 150px;
    margin-right: 150px;
}
#fecha{
    color: black;
}
#beneficios{
    list-style-type:"- ";
    padding-left: 10px;
}

#formcurso input, select{
    height: 30px;

}
#correo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5px;
    width: 100%;
}
#txtcorreo{
    width: 100%;
}
#correo input{
    padding: 5px;
}
