* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    
}

#portada {
    width: 100%;
    height: 500px;
    background-image: 
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(imagenes/hero.jpg);
    background-repeat: no-repeat;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center; /* centra vertical */
    align-items: center; /* centra horizontal */

    text-align: center;
}

#titulo_portada, #descripcion_portada {
    color: white;
    font-size: 20px;
}

#barra_superior {
    display:flex;
    align-items: center;
    justify-content:space-between;

    background-color: black;
    color: white;
    width: 100%;
    height: 80px;
}

#logo {
   margin-left: 20px;
    width: 40px;
    height: 40px;
}

#titulo {
    margin-left: -180px;         /* Corregir la posicion del titulo */
}

#botones {
    margin-right: 10px;
    display: flex;
    gap: 25px;
}

.boton {    
    height: 50px;
    display: flex;
    align-items: center;
}
#inicio{
    color: blue;
}
