*
{
    margin:0;
    padding: 0;
    /* border y padding no suman */
    box-sizing: border-box; 
}

body {

    background-color: white;

}

#logo {

    display: flex;
    text-align: center;
    justify-content: center;
    width: 50px;
    margin:10px;

}

#nombre {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 150px;
    margin:10px;

}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    width: 100%;
    padding: 1%;
    background-color: white;
}

.elementos {
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: 1%;
    background-color:white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}
