* {

    margin: 0;
    padding: 0;

}

body {

    background-color: rgb(89, 255, 47);

}


div {

    width: 214px;
    height:350px;
    border: 2px;
    border-color: black;
    border-style:solid;
    position: absolute;
    margin: 20px;
    z-index: 8;
}

#foto2 {

    margin:80px;
    z-index:7;
}

#foto3 {

    margin:140px;
    z-index:6;

}

#foto4 {

    margin:200px;
    z-index:5;    
}

#foto5 {

    margin:260px;
    z-index:4;    
}

#foto6 {

    margin:320px;
     z-index:3;   
}

#foto7 {

    margin:380px;
    z-index:2;    
}

