#madre{
    width: 1100px;
    height: 800px;
    border: 2px blue solid;
    padding: 10px;
}
div{
    border: 4px red solid;
    text-align: center;
    margin-bottom: 10px;
}
#caja1{
    height:100px;
    line-height:100px;
}
#caja2{
   height:30px;
    line-height: 30px;
}
#caja3{
    height: 500px;
    padding: 10px;
}
#caja3-1{
    height: 100px;
    line-height: 100px;
}
#caja3-2{
    height: 300px;
    line-height: 300px;
}
