*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color:rgb(253, 246, 148);
    width: 1200px;
    height: 50px;
    
    border: 1px solid black;
}
nav{
    background-color: rgb(253, 246, 148);
    width: 1200px;
    height:50px;

    border: 1px solid black;
}
section{
    background-color:rgb(253, 246, 148);
    width: 1200px;
    height:900px;

    border: 1px solid black;
}
article{
    background-color: rgb(253, 246, 148);
    width: 500px;
    height: 500px;
    margin: 10px;
    position:relative;
    top: 100px;
    left: 100px;

    border: 1px solid black;
}