h1{
    color: blue;
}
h2{
    color:green;
}
#bg-yellow{
    background-color: yellow;
}
#bg-grey{
    background-color: grey;
}
#bg-black{
    background-color: black;
}
#bg-red{
    background-color: red;
}
#bg-blue{
    background-color: blue;
}
.text-red{
    color:red;
}
.text-yellow{
    color:yellow;
}